@model IEnumerable<TLoaiSp>

<ul>
    @foreach (var item in Model)
    {
        <li><a asp-controller="Home" asp-action="SanPhamTheoLoai" asp-route-maloai="@item.MaLoai">@item.Loai</a></li>
    }
</ul>