@model ShopBanGiay.Models.THangSx
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemHangSX";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>ThemHangSX</h1>

<h4>THangSx</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post"  asp-action="ThemHangSX">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHangSx" class="control-label"></label>
                <input asp-for="MaHangSx" class="form-control" />
                <span asp-validation-for="MaHangSx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HangSx" class="control-label"></label>
                <input asp-for="HangSx" class="form-control" />
                <span asp-validation-for="HangSx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaNuocThuongHieu" class="control-label"></label>
                <input asp-for="MaNuocThuongHieu" class="form-control" />
                <span asp-validation-for="MaNuocThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DanhMucHangSX">Back to List</a>
</div>

